@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Services.EntityModels.Team>

@{
    Layout = "_AdminLayout";
}

<p>
    @Html.ActionLink("Create New", "TeamCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "TeamEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "TeamDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "TeamDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


